#contato {
    background-color: #f7f7f7;
    padding: 20px;
}

#contato h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

#contato form {
    max-width: 800px; 
    margin: 40px auto;
    padding: 40px;
    background-color: #fff;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

#contato label {
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    text-align: right;
    grid-column: 1;
}

#contato input, #contato textarea {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    grid-column: 2;
}

#contato label[for="nome"] {
    grid-row: 1;
}

#contato input[id="nome"] {
    grid-row: 1;
}

#contato label[for="sobrenome"] {
    
    grid-row: 1;
    grid-column: 3;


}

#contato input[id="sobrenome"] {

    grid-row: 1;

    grid-column: 4;
}

#contato label[for="email"] {
    grid-row: 2;
    grid-column:1;
}

#contato input[id="email"] {
    grid-row: 2;
    grid-column: 2;
}

#contato label[for="mensagem"] {
    grid-row: 2;
    grid-column: 3;
}

#contato textarea[id="mensagem"] {
    grid-row: 2;
    grid-column: 4;
}

 button {
    grid-row: 5;
    grid-column: 2;
    margin-top: 20px;
  
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
  
    background-color: #000;
    color: #fff; 
  
    border: none;
  
    border-radius: 5px;
    cursor: pointer;
  }


  





